/*

	KentWind
	style.css
	Authors: Arnold Bykov, Michael Spangler
	Description: The main stylesheet for the entire KentWind web site.
*/

body
{
	padding: 0;
}

#header
{
	border-bottom: 1px solid black;
}

#mainContent
{
	margin-left: 1em;
	margin-right: 1em;
	height: 100%;
}

#footer
{
	border-top: 1px solid black;
	height: 2.5em;
	text-align: center;
}

#windMapContainer
{
	width: 100%;
	height: 600px;
	line-height: 600px; /* Ensure line-height and height are the same if you want text to be vertically centered. */
	border: 1px solid black;
	background-color: gray;
	color: white;
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
}